<header class="header page__list">
  <nav class="header__nav">
    <a class="header__logo" {{ "href=\"index.html\"" if not layout.isIndex }}>
      <picture>
        <source media="(min-width: 1200px)" srcset="{{ layout.logoSrcDesktop }}">
        <source media="(min-width: 768px)" srcset="{{ layout.logoSrcTablet }}">
        <img src="{{ layout.logoSrc }}" alt="{{ layout.logoAlt }}">
      </picture>
    </a>

    <ul class="header__nav-list page__list">
      {% for link in layout.menu %}
        <li class="header__nav-item">
          <a class="button header__nav-link
            {{ "header__nav-link--active" if link.url === page + ".html" }}
            {{ "header__nav-link--first" if loop.index === 1 }}
            {{ "header__nav-link--last" if loop.index === loop.length }}"
            href="{{ link.url }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <button class="header__toggler hidden">
    <span class="visually-hidden">
      {{ layout.toggleMenuText }}
    </span>
  </button>

  {% include "components/intro/intro.njk" %}
</header>
