.search-offer {
  padding: 27px 0 49px;
}

.search-offer__lead {
  display: block;
  margin: 0 20px 19px;

  font-size: 21px;
  line-height: 26px;

  text-align: center;
}

.search-offer__description {
  margin: 0 20px 35px;
}

.search-offer__button {
  width: 280px;
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
}
