.photos {
  margin: 26px 0 0;

  @media ($tablet) {
    margin: 0 60px;
  }

  @media ($desktop) {
    margin: 70px 0 0;
  }
}

.photos__list {
  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.photos__item {
  position: relative;
  padding: 22px 20px 17px;
  line-height: 24px;
  border-top: 1px solid $color-back-darker;

  @media ($tablet) {
    width: 50%;
    padding: 0;
    background-color: $color-back;
    border: none;
  }

  @media ($desktop) {
    width: 100% * 1/3;
  }

  &--lead {
    @media ($tablet) {
      width: 100%;
    }

    @media ($desktop) {
      width: 100%;
    }
  }

  &:nth-child(2n + 3) {
    @media ($tablet) {
      background-color: #eaeaea;
    }
  }
}

.photos__picture {
  height: 280px;

  @media ($tablet) {
    height: 268px;
  }

  &--lead {
    @media ($tablet) {
      height: 400px;
    }
  }
}

.photos__info {
  padding: 15px 0 0;

  @media ($tablet) {
    position: relative;
    padding: 15px 120px 8px 20px;
  }

  @media ($desktop) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photos__name {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
}

.photos__description {
  margin: 0 0 8px;
  color: $color-description;
  text-transform: none;

  @media ($desktop) {
    color: inherit;
  }
}

.photos__likes {
  display: flex;
  align-items: flex-start;

  @media ($tablet) {
    position: absolute;
    top: 28px;
    right: 20px;
  }
}

.photos__like {
  margin: 0 15px 0 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;

  @include interactive;

  @media ($tablet) {
    margin-right: 10px;
  }

  @media ($desktop) {
    color: #ffffff;
  }

  &:hover,
  &:focus {
    color: $color-description;

    @media ($desktop) {
      color: rgba(#ffffff, 0.6);
    }
  }

  &:active {
    color: rgba($color-description, 0.3);

    @media ($desktop) {
      color: rgba(#ffffff, 0.3);
    }
  }
}

.photos__like-icon {
  fill: currentColor;
}

.photos__count {
  min-width: 32px;
  max-width: 100px;
  margin: 0;
}
