<p class="form__checker checker{{ " checker--checkbox" if field.type === "checkbox" }}">
  <input class="visually-hidden" id="{{ field.name }}-{{ loop.index }}" name="{{ field.name }}"
    type="{{ field.type }}"{{ " checked" if field.checked }}>
  <label for="{{ field.name }}-{{ loop.index }}">
    {{ field.label }}
  </label>
</p>
