.checker {
  width: 280px;
  margin: 0 auto 9px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;

  label {
    position: relative;
    display: inline-block;
    padding: 17px 0 17px 77px;
    vertical-align: top;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 17px;
      z-index: 1;
      width: 22px;
      height: 22px;
      background-color: $color-description;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 56px;
      height: 56px;
      background-color: $color-back;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;
    }


    &:hover,
    &:focus {
      &::after {
        background-color: $color-back-disabled;
      }
    }

    &:active {
      &::before {
        opacity: 0.3;
      }

      &::after {
        background-color: #d5d5d5;
      }
    }
  }

  input:checked + label {
    &::before {
      opacity: 1;
    }
  }

  &--checkbox {
    label {
      padding: 11px 0 34px 78px;

      &::before {
        top: 17px;
        width: 30px;
        height: 17px;
        background-color: transparent;
        background-position: -10px -288px;
      }

      &::after {
        top: -3px;
        border-radius: 5px;
      }
    }

    &:last-child label {
      padding-bottom: 26px;
    }
  }
}
