.hidden {
  display: none;
}

.visually-hidden {
  position: fixed;
  top: 200vh;
}

.no-desktop {
  @media ($desktop) {
    display: none;
  }
}

.iconable {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons.svg");
    background-repeat: no-repeat;
  }
}
