.search-offer {
  padding: 26px 20px 48px;
  text-align: center;
}

.search-offer__lead {
  display: block;
  margin: 0 0 20px;
  font-size: 21px;
  line-height: 26px;
}

.search-offer__description {
  margin: 0 0 34px;
  line-height: 24px;
}

.search-offer__button {
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
}
