.search-offer {
  max-width: 458px;
  margin: 0 auto;
  padding: 26px 20px 48px;
  text-align: center;

  @media ($tablet) {
    padding: 56px 20px 60px;
  }

  @media ($desktop) {
    padding: 56px 20px 65px;
  }
}

.search-offer__lead {
  display: block;
  margin: 0 0 20px;
  font-size: 21px;
  line-height: 26px;

  @media ($tablet) {
    margin: 0 0 32px;
    font-size: 30px;
  }
}

.search-offer__description {
  margin: 0 0 34px;
  line-height: 24px;
  color: $color-description;

  @media ($tablet) {
    margin: 0 0 40px;
  }

  @media ($desktop) {
    margin: 0 0 48px;
  }
}

.search-offer__button {
  padding: 16px;
  font-size: 21px;
  line-height: 26px;
}
