<form class="form" action="{{ params.action }}" method="post">
  {% for fieldset in params.fieldsets %}
    <div class="form__group form__group--{{ fieldset.modifier }}">
      <fieldset>
        <legend class="form__group-heading form__group-heading--{{ fieldset.modifier }}">
          {{ fieldset.legend }}
        </legend>

        {{ "<div class=\"form__group-inner form__group-inner--" + fieldset.modifier + "\">" if fieldset.hasInner }}
          {% for field in fieldset.fields %}
            {% if field.type === 'radio' or field.type === 'checkbox' %}
              {% set classes = "form__checker form__checker--" + {{ fieldset.modifier }} %}
              {% include "components/checker/checker.njk" %}
            {% else %}
              {% set classes = "form__field" %}
              {% include "components/field/field.njk" %}
            {% endif %}
          {% endfor %}
        {{ "</div>" if fieldset.hasInner }}
      </fieldset>
    </div>
  {% endfor %}

  <div class="form__submit-wrapper">
    <button class="form__submit button" type="submit">
      {{ params.submitText }}
    </button>

    <p class="form__submit-alert">
      {{ params.submitAlert }}
    </p>
  </div>
</form>
