<picture class="picture {{ picture.mix }}">
  <source type="image/webp" srcset="{{ picture.src | withoutExt }}.webp"/>
  <img class="picture__img {{ picture.mixImg }}" src="{{ picture.src }}" alt="{{ picture.alt }}">
</picture>
