<form class="form" action="{{ params.action }}" method="post" target="_blank">
  {% for fieldset in params.fieldsets %}
    <fieldset class="form__group form__group--{{ fieldset.modifier }}">
      <legend class="form__group-heading-wrapper form__group-heading-wrapper--{{ fieldset.modifier }}">
        <span class="form__group-heading form__group-heading--{{ fieldset.modifier }}">
          {{ fieldset.legend }}
        </span>
      </legend>

      <ul class="form__inputs form__inputs--{{ fieldset.modifier }} page__list">
        {% for field in fieldset.fields %}
          {% if field.type === 'radio' or field.type === 'checkbox' %}
            {% set classes = "form__checker form__checker--" + fieldset.modifier %}
            {% include "src/html/components/checker.njk" %}
          {% else %}
            {% set classes = "form__field form__field--" + fieldset.modifier %}
            {% include "src/html/components/field.njk" %}
          {% endif %}
        {% endfor %}
      </ul>
    </fieldset>
  {% endfor %}

  <div class="form__submit-wrapper">
    <button class="form__submit button" type="submit">
      {{ params.submitText }}
    </button>

    <p class="form__submit-alert no-mobile">
      {{ params.submitAlert }}
    </p>
  </div>
</form>
