<div class="notice {{ params.classes.block }}">
  <div class="notice__info {{ params.classes.info }}">
    <b class="notice__heading">
      {{ params.heading }}
    </b>

    <p class="notice__text">
      {{ params.text }}
    </p>
  </div>

  <button class="button notice__button {{ params.classes.button }}" type="button">
    {{ params.buttonText }}
  </button>
  </div>
</div>
