<section class="photos">
  <h2 class="visually-hidden">
    {{ params.heading }}
  </h2>

  <ul class="photos__list page__list">
    {% for photo in params.photos %}
      <li class="photos__item {{ "photos__item--lead" if loop.index === 1 }}">
        {% set picture = photo.picture %}
        <a href="{{ photo.href }}">
          {% include "src/html/components/picture.njk" %}
        </a>

        <div class="photos__info">
          <h3 class="photos__name">
            {{ picture.img.alt }}
          </h3>
          <p class="photos__description">
            {{ params.labels.author }}{{ photo.author }}
          </p>

          <form class="photos__likes" action="{{ params.action }}" method="post">
            <button class="photos__like" type="submit" name="like" value="{{ picture.img.alt }}">
              <span class="visually-hidden">
                {{ params.labels.like }}
              </span>
              <svg class="photos__like-icon" role="presentation"
                width="{{ params.likeIcon.width }}" height="{{ params.likeIcon.height }}">
                <use xlink:href="{{ params.likeIcon.id }}"/>
              </svg>
            </button>
            <p class="photos__count">
              {{ photo.likes }}
            </p>
          </form>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
