<section class="search-offer">
  <h2 class="visually-hidden">
    {{ params.heading }}
  </h2>
  <b class="search-offer__lead">
    {{ params.lead }}
  </b>
  <p class="search-offer__description">
    {{ params.description }}
  </p>
  <a class="search-offer__button button" href="{{ params.link.href }}">
    {{ params.link.text }}
  </a>
</section>
