<ul class="socials {{ classes }} page__list">
  {% for item in socials %}
    <li>
      <a href="{{ item.href }}" class="socials__button socials__button--{{ item.icon }} button">
        <span class="visually-hidden">
          {{ item.text }}
        </span>
      </a>
    </li>
  {% endfor %}
</ul>
