@include font-face(PT Sans, 400, normal, PT Sans, ptsans);
@include font-face(PT Sans, 700, normal, PT Sans Bold, ptsansbold);

a {
  color: inherit;
  text-decoration-skip-ink: none;

  @include interactive;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
