.button {
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	font-weight: 700;
	font-family: inherit;
	text-align: center;
	color: $color-accent-text;
	text-transform: uppercase;
	text-decoration: none;
	background-color: $color-accent-back;
	border: none;

	@include interactive;

	&:hover,
	&:focus {
		background-color: $color-accent-back-hover;
	}

	&:active {
		color: rgba($color-accent-text, 0.3);
		background-color: $color-accent-back-active;
	}

	&:disabled,
	&:disabled:hover,
	&:disabled:active {
		color: $color-accent-text;
		background-color: $color-back-disabled;
	}
}
