.notice {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	width: 100%;
	max-width: 400px;
	max-height: 100vh;
	overflow-y: auto;
	text-align: center;
	background-color: $color-white;
	box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;

	&--success {
		max-width: 640px;
		background-color: $color-back;
	}

	&--on {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.6s ease-in-out;
	}
}

.notice__info {
	padding: 42px 42px 24px;
	background-color: $color-white;

	@include tablet-desktop {
		padding: 58px 42px 32px;
	}

	&--success {
		margin: 0 0 20px;
		padding-bottom: 34px;

		@include tablet-desktop {
			margin: 0 0 45px;
			padding: 58px 110px 32px;
		}
	}
}

.notice__heading {
	display: block;
	margin: 0 0 26px;
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;

	@include tablet-desktop {
		margin: 0 36px 24px;
		font-size: 30px;
		line-height: 40px;
	}
}

.notice__text {
	margin: 0;
	line-height: 24px;
	color: $color-description;
}

.notice__button {
	width: calc(100% - 140px);
	margin: 0 auto 35px;
	padding: 16px;
	font-size: 18px;
	line-height: 26px;

	@include tablet-desktop {
		width: 272px;
		margin-bottom: 50px;
		font-size: 21px;
	}

	&--success {
		width: calc(100% - 40px);
		max-width: 458px;
		margin-bottom: 20px;

		@include tablet-desktop {
			width: 458px;
			margin-bottom: 44px;
		}
	}
}
