.yandex-map {
	background-color: $color-back;
}

.yandex-map__poster {
	height: 350px;
}

.yandex-map__placemark {
	width: 17px;
	height: 17px;
	background-color: $color-accent-back;
	border: 5px solid $color-white;
	border-radius: 50%;
}
