.page {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.5;
  font-family: "PT Sans", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-transform: uppercase;
  background-color: $color-back;
}

.page__body {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;

  @media ($desktop) {
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

.page__main {
  display: block;
}

.page__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
