.features {
  padding: 34px 20px 10px;
}

.features__item {
  position: relative;
  padding: 0 0 28px 50px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons.svg");
    background-size: auto 250px;
  }

  &--house::before {
    top: -8px;
    left: 2px;
    width: 37px;
    height: 37px;
    background-position: -5px -6px;
  }

  &--gifts::before {
    top: -10px;
    left: 5px;
    width: 32px;
    height: 38px;
    background-position: -5px -52px;
  }

  &--eat::before {
    top: -4px;
    left: -2px;
    width: 40px;
    height: 35px;
    background-position: -5px -100px;
  }
}

.features__heading {
  display: block;
  margin: 0 0 14px;
  font-size: 18px;
  line-height: 26px;
}

.features__description {
  margin: 0;
  color: $color-description;
}
