{% set attrs = "name=\"" + field.name + "\"" + " placeholder=\"" + field.placeholder + "\"" %}
{% if field.required %}
  {% set attrs = attrs + " required" %}
{% endif %}

<p class="field form__field {{ " iconable iconable--" + field.name if field.hasIcon }}">
  <label{{ " class=\"visually-hidden\"" if field.hideLabel }} for="{{ field.name }}">
    {{ field.label }}
  </label>
  {% if field.type === "textarea" %}
    <textarea class="field__input" id="{{ field.name }}" {{ attrs }}></textarea>
  {% else %}
    <input class="field__input" type="{{ field.type }}" {{ attrs }}>
  {% endif %}
</p>
