.field {
  display: flex;
  line-height: 26px;

  label {
    margin: 18px 15px 0 0;
    color: $color-description;
  }

  textarea {
    height: 128px;
    overflow: auto;
    resize: none;
  }

  &--phone,
  &--mail {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 58px;
      height: 58px;
      background-color: $color-back-darker;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icons.svg");
    }
  }

  &--phone::after {
    right: 19px;
    bottom: 20px;
    width: 18px;
    height: 18px;
    background-position: -10px -361px;
  }

  &--mail::after {
    right: 21px;
    bottom: 21px;
    width: 16px;
    height: 16px;
    background-position: -10px -325px;
  }
}

.field__input {
  width: 100%;
  height: 26px;
  padding: 12px 16px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  background-color: $color-back;
  border: 4px solid $color-back;
  outline: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover {
    background-color: $color-back-disabled;
    border-color: $color-back-disabled;
  }

  &:focus {
    background-color: #ffffff;
    border-color: $color-back-disabled;

    &::placeholder {
      color: transparent;
    }
  }

  &::placeholder {
    color: inherit;
    transition: color 0.3s ease-in-out;
  }
}
