{# Если есть srcset вне медиазапросов, он соединяется с src для webp #}
{% if picture.img.srcset %}
  {% set webpSet = picture.img.src + ", " + picture.img.srcset  %}
{% else %}
  {% set webpSet = picture.img.src %}
{% endif %}

<picture class="picture {{ picture.classes }}">
  {% for source in picture.medias %}
    <source type="image/webp" media="{{ source.query }}" srcset="{{ source.srcset | extToWebp }}">
    <source media="{{ source.query }}" srcset="{{ source.srcset }}">
  {% endfor %}
  <source type="image/webp" srcset="{{ webpSet | extToWebp }}"/>
  <img class="picture__img {{ picture.img.classes }}" src="{{ picture.img.src }}"
    {{ "srcset=\"" + picture.img.srcset + "\"" if picture.img.srcset }}
    alt="{{ picture.img.alt }}">
</picture>
