<div class="map">
  {% set picture = {
    mix: "map__poster",
    mixImg: "map__img",
    src: params.poster.src,
    alt: params.poster.alt
  } %}
  {% include "source/components/picture/picture.njk" %}
</div>
