<header class="header page__list">
  <button class="header-toggler hidden">
    <span class="visually-hidden">
      {{ layout.toggleMenuText }}
    </span>
  </button>

  <nav class="header__nav">
    <a class="header__logo" {{ "href=\"index.html\"" if layout.isIndex }}>
      <img src="{{ layout.logoSrc }}" alt="{{ layout.logoAlt }}">
    </a>

    <ul class="page__list">
      {% for link in layout.menu %}
        <li class="header__nav-item">
          <a class="header__nav-link button" href="{{ link.url }}">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% include "source/components/intro/intro.njk" %}
</header>
