<footer class="footer">
  <a href="{{ layout.visit.href }}" class="footer__visit-link">
    {{ layout.visit.text }}
  </a>

  {% set mix = "footer__socials" %}
  {% include "source/components/socials/socials.njk" %}

  <p class="footer__developer">
    {{ layout.developer.label }}

    <a class="footer__developer-link" href="{{ layout.developer.href }}">
      <svg class="footer__developer-logo" aria-label="{{ layout.developer.name }}">
        <use xlink:href="#{{ layout.developer.logo }}"/>
      </svg>
    </a>
  </p>
</footer>
