.footer {
  margin: 0 auto;
  padding: 36px 20px 30px;

  @media ($tablet) {
    display: flex;
    justify-content: space-between;
    width: 648px;
    padding-top: 97px;
  }

  @media ($desktop) {
    width: 960px;
    padding-top: 102px;
  }
}

.footer__visit-link {
  display: table;
  margin: 0 auto 36px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
}

.footer__developer {
  position: relative;
  display: table;
  margin: 35px auto 0;
  padding: 5px 40px 0 0;

  @media ($tablet) {
    margin: 7px 0 0 auto;
  }
}

.footer__developer-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 34px;

  &:hover,
  &:focus {
    color: $color-accent-back;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.footer__developer-logo {
  width: inherit;
  height: inherit;
  fill: currentColor;
}
