.map__poster {
  position: relative;
  display: block;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.map__img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
