<div class="map">
  <picture class="map__poster">
    <source type="image/webp" srcset="{{ params.poster.src | nameWithoutExt }}.webp"/>
    <img class="map__poster-img" src="{{ params.poster.src }}" alt="{{ params.poster.alt }}">
  </picture>
</div>
