.page {
  font-size: 14px;
  line-height: 1.5;
  font-family: "PT Sans", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-transform: uppercase;
}

.page__body {
  min-width: 320px;
  margin: 0;
}

.page__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page__heading {
  display: block;
  margin: 0 24px 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.page__description {
  margin: 0 22px 27px;
  line-height: 24px;
  text-align: center;
  color: $color-description;
}
