.advantages__description {
  line-height: 26px;
}

.advantages__list {
  border-top: 16px solid $color-accent-back;
  counter-reset: index;
}

.advantages__item {
  padding: 26px 0 0;
  text-align: center;
  background-color: $color-back;
  counter-increment: index;

  &::after {
    content: "";
    display: block;
    margin: 0 20px;
    border-bottom: 1px solid;
    opacity: 0.1;
  }

  &:last-child,
  &--with-img {
    &::after {
      content: none;
    }
  }

  &--with-img {
    padding: 39px 0 0;
    color: $color-accent-text;
    background-color: $color-accent-back;

    .advantages__item-description {
      margin: 0 20px 40px;
      padding: 0;
      color: inherit;
    }
  }
}

.advantages__item-heading {
  margin: 0 20px 10px;
}

.advantages__item-description {
  margin: 0 32px;
  padding: 0 0 28px;
  color: $color-description;

  &::before {
    content: "– №" counter(index) " –";
    display: block;
    margin: 0 0 14px;
  }
}

.advantages__img {
  width: 100%;
}
