.intro {
  position: relative;
  padding: 197px 0 0;
  border-top: 54px solid transparent;

  @media ($tablet) {
    padding: 365px 0 0;
    border: none;
  }

  @media ($desktop) {
    padding: 413px 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 159px;
    background-color: rgba($color-accent-back, 0.5);
    background-image: url("../img/intro-back.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;

    @include background-image(intro-back, jpg);

    @media ($tablet) {
      height: 290px;

      @include background-image(intro-back-desktop, jpg);
    }

    @media ($desktop) {
      height: 301px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 133px;
    left: 0;
    width: 100%;
    height: 26px;
    background-image: url("../img/intro-decor.svg");
    background-size: 100% 26px;

    @media ($tablet) {
      top: 233px;
      height: 57px;
      background-image: url("../img/intro-decor-tablet.svg");
      background-size: 100% 57px;
    }

    @media ($desktop) {
      top: 244px;
      background-image: url("../img/intro-decor-desktop.svg");
    }
  }

  &--index {
    padding: 429px 0 0;

    &::before {
      height: 389px;
      background-position: 50% 0;
      background-size: cover;
    }

    &::after {
      top: 363px;
    }

    .intro__img {
      top: 90px;
      width: 281px;
    }
  }
}

.intro__img {
  position: absolute;
  top: 52px;
  left: 50%;
  width: 230px;
  transform: translateX(-50%);

  @media ($tablet) {
    top: 94px;
    width: 460px;
  }

  @media ($desktop) {
    top: 102px;
  }
}
